<body>
  <app-nav-menu></app-nav-menu>

  <h2>List of Farms</h2>
  <div *ngFor="let f of FarmC.allFarms">
        <p>{{f.name}}</p>
        <p><button (click)="getFarm(f.id)">Get Farm Details</button></p>
  </div><br>

  <div>
    <h2>Add New Farm</h2>
    <form #addFarmForm="ngForm" (ngSubmit)="addFarm(addFarmForm)">
      <p><input [(ngModel)]="farm.name" type="text" name="name" id="name" placeholder="Farm Name"/></p>
      <input type="submit" value="Submit New Farm"/>
    </form>
  </div>
</body>
